template(name='list')
  if currentUser.isBoardMember
    .list.js-list(id="js-list-{{_id}}")
      +listHeader
      +listBody
  else
    if currentUser
      .list.js-list(id="js-list-{{_id}}")
        +publiclistHeader
        +publiclistBody
    else
      if this.sort
        .span
      else
        .publiclist.js-list(id="js-list-{{_id}}")
          +publiclistHeader
          +publiclistBody
