template(name='list')
    if currentUser.isBoardMember
      .list.js-list(id="js-list-{{_id}}")
        +listHeader
        +listBody
    else
      .publiclist.js-list(id="js-list-{{_id}}")
        if currentUser
          +publiclistHeader
          +publiclistBody
        else
          if this.sort
          else
            +publiclistHeader
            +publiclistBody
